<div class="row">
  <div class="container">
		<div  class="col-md-7">
      <div class="content-box">
        <h1 class="h1-override"><%= @post.title %></h1>
				<p>
        	<strong><%=raw @post.introduction %></strong>
      	</p>
      	<p>
			  	<%=raw @post.text %>
		  	</p>
			  <br/><br/>
				<%= link_to 'Edit', edit_post_path(@post) %> |
				<%= link_to 'Back', posts_path %>
			</div>
		</div>
		<div class="col-md-5">
      		<div class="content-box">
				<%= render @post.images %>
			</div>
			<div class="content-box">
				<h2 class="h1-override">Join the conversation!</h2>
				<%= render 'comments/show_form' %>
			</div>
      		<div class="content-box">
				<h2 class="h1-override">Comments</h2>
				<%= render @post.comments %>
			</div>
		</div>
	</div>
</div>