<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">idgie.se</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Kollektioner</a></li>
        <li><a href="#contact">Om idgie</a></li>
        <li><a href="#contact">Återförsäljare</a></li>
        <li><a href="#contact">Kontakt</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropup<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
        <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<% if user_signed_in? %>
  <div class="alert-notice-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        Logged in as user: <%= current_user.email %> (Session ID: <%= user_session %>)
          <p class="notice"><%= notice %></p>
          <!-- <p class="alert"><%= alert %></p> -->
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="jumbotron">
</div>

<!-- <div class="bg"></div>
<div class="jumbotron">
  <h1>Bootstrap Jumbotron</h1>
  <p class="lead">+ Parallax Effect using jQuery</p>
</div> -->

<div class="row row-section-header">
	<div class="container">
		<div class="col-md-12">
			<h1>Återförsäljare</h1>
		</div>
	</div>
</div>

<% if user_signed_in? %>
  <div class="row admin-toolbar">
  	<div class="col-md-1 col-md-offset-11">
  		<a href="javascript:add_retailer();"><i class="fa fa-lg fa-plus"></i></a>
  	</div>
  </div>
<% end %>
<div class="container">
	<div class="row" id="retailers">
	</div>
</div>