<%= form_for @retailer do |f| %>
	<div class="col-md-3" id="admin-add-retailer-form">
		<i class="fa fa-lg fa-tag"></i><%= f.text_field :name %>
		<i class="fa fa-lg fa-location-arrow"></i><%= f.text_field :location %>
		<i class="fa fa-lg fa-phone"></i><%= f.text_field :phone %>
		<i class="fa fa-lg fa-facebook"></i><%= f.text_field :fb %>
		<i class="fa fa-lg fa-globe"></i><%= f.text_field :web %>
		
		<%= f.submit %>
	</div>
<% end %>